$pc-01:  "screen and (max-width:999px)";
$pc-02:  "screen and (max-width:799px)";
$color-base: #cdab59;
$trasition-base: 0.3s;


html {
  font-size: 62.5%;height: 100%;
}

body {
  overflow-x: hidden;
  color: #3c3c3c;
  height: 100%;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'Yu Gothic', meiryo, sans-serif;
}
/* IE10以下 */
@media all and (-ms-high-contrast: none){
  body {
    font-family: 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  }
}


@media #{$pc-01} {

}

@media #{$pc-02} {

}
