$pc-01:  "screen and (max-width:999px)";
$pc-02:  "screen and (max-width:799px)";
$color-base: #cdab59;
$trasition-base: 0.3s;


html {
  font-size: 62.5%;height: 100%;
}
body {
  overflow-x: hidden;
  color: #3c3c3c;
  height: 100%;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'Yu Gothic', meiryo, sans-serif;
}
/* IE10以下 */
@media all and (-ms-high-contrast: none){
  body {
    font-family: 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  }
}
#js-body.fixed {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.wrapper {
  padding: 142px 0 0;
  transition: $trasition-base;
}

/* -------
overlay
------- */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31,40,40,0.2);
  z-index: 4;
}
.overlay.active {
  display: block;
}

/* -------
header
------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 142px;
  background: rgba(255,255,255,0.8);
  border-bottom: solid 1px #eee;
  transition: $trasition-base;
  z-index: 3;
}
header.scroll {
  height: 90px;
}
nav {
  height: 100%;
}

.gn--pc ul:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: -63px;//センタリング微調整
  li {
    margin: 0 15px;
    a {
      position: relative;
      font-family: 'futura_bk_btbook';
      font-size: 1.6rem;
      letter-spacing: 0.1em;
      color: #666;
      &::after {
        content: '';
        position: absolute;
        bottom: 7px;
        left: -5%;
        width: 110%;
        height: 1px;
        transform: scaleX(0);
        background-color: #666;
        transition: .3s;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
.gn--pc ul:nth-child(1) li.logo_header--center a::after {
  display: none;
}

.logo_header--center {
  img {
    width: 98px;
    height: 86.3px;
    transition: $trasition-base;
  }
}
header.scroll .logo_header--center{
 img{
    width: 75px;
    height: 66px;
  }
}
.gn--pc ul:nth-child(2) {
  position: absolute;
  top: 53px;
  right: 30px;
  display: flex;
  border: solid 1px $color-base;
  transition: $trasition-base;
  li {
    a {
      display: block;
      width: 100%;
      padding: 5px 15px;
      font-family: 'futura_bk_btbook';
      font-size: 1.4rem;
      letter-spacing: 0.1em;
      color: #666;
    }
  }
  li:nth-child(1) a {
    background: #fff;
    color: #a37f27;
    transition: .3s;
    &:hover {
      background: #f1ead9;
    }
  }
  li:nth-child(2) a {
    background: $color-base;
    color: #fff;
    transition: .3s;
    &:hover {
      background: #dcb965;
    }
  }
}
.gn--pc .gn_addition-item {
  display: none;
}

header.scroll .gn--pc ul:nth-child(2) {
  top: 27px;
}

.gn--sp {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  padding: 20px;
  background: #fff;
  transition: $trasition-base;
  z-index: 4;
  overflow-y: scroll;
  li {
    a {
      display: block;
      width: 100%;
      padding: 8px;
      transition: 0.8s;
      &:hover {
        background: #efe4c8;
      }
    }
  }
}
.gn--sp.active {
  right: 0px;
}
.gn--sp .logo_header--center {
  display: none;
}
.logo_header--left {
  display: none;
}
.logo_header--left img:nth-child(1) {
  display: block;
}
.logo_header--left img:nth-child(2) {
  display: none;
}
.hamburger {
  display: none;
}

/* -------
Breadcrumb
------- */
.wrap_breadcrumb {
  width: 100%;
  background: #f4f3f4;
}
.breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 11px;
}
.breadcrumb li a,
.breadcrumb li span,
 {
  float: left;
  padding-left: 10px;
  color: #3c3c3c;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}
.breadcrumb li a::before,
.breadcrumb li span::before
 {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 15px 1px 0;
  border-top: solid 1px #3c3c3c;
  border-right: solid 1px #3c3c3c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.breadcrumb li:first-child a::before {
  margin-right: 0;
  border: none;
}


/* -------
Pager
------- */
.wrap_pager {
  margin: 0 0 80px 0;
}
.pager {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.wp-pagenavi a, .wp-pagenavi span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px 2px;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  border: solid 1px #ccc;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}
.wp-pagenavi a:hover {
  background: #f7e8c5;
}
.wp-pagenavi a.previouspostslink,
.wp-pagenavi a.nextpostslink {
  width: 70px;
  border-radius: 8px;
}
.wp-pagenavi .current {
  background: #f7e8c5;
}

/* -------
footer
------- */
footer {
  width: 100%;
  padding: 60px 20px 20px;
  background: #f7e8c5;
}
.logo_footer {
  text-align: center;
}
.logo_footer img {
  width: 127px;
}
.wrap_footer_sns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0;
}
.wrap_footer_sns a:hover {
  opacity: 0.8;
}
.wrap_footer_sns li {
  margin: 0 10px;
}
.footer_fb img {
  width: 13px;
  height: 27.08px;
}
.footer_twitter img {
  width: 30px;
  height: 22.69px;
}
.footer_insta img {
  width: 29px;
  height: 29px;
}
.footer_youtube img {
  width: 30px;
  height: 21.06px;
}
.footer_line img {
  width: 30px;
  height: 28.55px;
}
.wrap_footer_column {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 60px 0 0;
}
.footer_left_column {
  margin: 0 30px 0 0;
}
.footer_left_column dl {
  display: flex;
  margin: 0 0 8px 0
}
.footer_left_column dl dt {
  width: 100px;
}
.footer_right_column {
  display: flex;
  margin: 0 0 0 30px;
}
.footer_right_column a {
  display: block;
  width: 150px;
  margin: 0 5px;
  padding: 10px 33px;
  text-align: center;
  background: #fff;
  color: #794416;
  transition: 0.3s;
}
.footer_right_column a:hover {
  background: #f3d898;
}
small {
  display: block;
  margin: 50px 0 0;
  text-align: center;
}
.sp-footer_fix_nav {
	display: none;
}
.gn_addition-item img {
  width: 28px;
}
.slide_menu_fb img {
  width: 25px;
}


/*
===============
===============
Break Point 01
===============
===============
*/
@media #{$pc-01} {

.wrapper {
  padding: 90px 0 0;
}
header {
  height: 90px;
}
.logo_header--left {
  display: block;
}
.logo_header--left img {
  width: 80px;
  height: auto;
  margin: 10px 20px;
}
.gn--pc {
  display: none;
}
.gn--sp .gn_addition-item {
  display: block;
}

.hamburger {
  display: block;
  position: fixed;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: #fff;
  border: solid 1px $color-base;
  cursor: pointer;
  transition: $trasition-base;
  z-index: 4;
  span:first-child {
      position: absolute;
      top: 19px;
      left: 8px;
      width: 32px;
      height: 2px;
      background: $color-base;
      transition: $trasition-base;
  }
  span:nth-child(2) {
      position: absolute;
      top: 27px;
      left: 8px;
      width: 32px;
      height: 2px;
      background: $color-base;
      transition: $trasition-base;
  }
}
.hamburger.active {
  right: 215px;
  span:first-child {
      top: 23px;
      transform: rotate(405deg);
  }
  span:nth-child(2) {
      top: 23px;
      transform: rotate(-405deg);
  }
}

}


/*
===============
===============
Break Point 02
===============
===============
*/
@media #{$pc-02} {

footer {
  padding: 60px 20px 20px;
}
.wrap_footer_column {
  display: block;
  margin: 30px 0 0;
}
.footer_left_column {
  margin: 30px 0 0;
}
.footer_right_column {
  width: 100%;
  margin: 0;
}
.footer_right_column div {
  width: 50%;
}
.footer_right_column div:first-child {
  margin: 0 5px 0 0;
}
.footer_right_column div:nth-child(2) {
  margin: 0 0 0 5px;
}
.footer_right_column div a {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}
.footer_left_column dl dt {
  width: 80px;
  min-width: 80px;
}
}
