$sp-01: "screen and (max-width:768px) ";
$sp-02: "screen and (max-width:399px) ";

@media #{$sp-01} {


/* -------
splash
------- */
.top-splash svg {
  width: 35%;
}


/* -------
mainImg
------- */
.top-wrap_main-img {
	margin: 20px 0 0;
  padding: 0 10px;
}
.top-wrap_mainimg--pc {
  display: none;
}
.top-wrap_mainimg--sp {
  display: block;
	// height: 600px;
}
.top-mainimg_catch--sp {
	position: absolute;
  bottom: 123px;
  right: 20px;
	left: auto;
  margin-left: 0;
  width: 220px;
  height: 53px;
  z-index: 1;
}
.top-mainimg_catch--sp img {
  width: 220px;
}
.top-wrap_mainimg--sp .slider_mainimg .slick-track {
	display: block;
	min-height: 600px;//スライダの高さ
}
.top-mainimg_sp_01 {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../img/sp_main-img_01.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.top-mainimg_sp_02 {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../img/sp_main-img_02.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.top-mainimg_sp_03 {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../img/sp_main-img_03.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

/* -------
Information
------- */
.top-section_info {
  padding: 30px 0 40px;
}
.top-wrap_info {
  display: block;
  width: 100%;
	margin: 0 0 40px 0;
	padding: 0 20px;
}
.top-section_info h2 {
  font-size: 2.5rem;
  text-align: center;
}
.top-section_info h2 + p {
	text-align: center;
}
.top-wrap_info_list {
  margin: 10px 0 0 0;
	font-size: 1.3rem;
}
.top-wrap_info_list dl dd {
  margin: 0 0 0 20px;
}
.top-info-title {
	margin: 0 0 30px 0;
}
.top-wrap_banner_first-user {
  text-align: center;
  width: 100%;
}
.top-wrap_banner_first-user img {
  width: 95%;
}

/* -------
Concept
------- */
.top-section_concept {
  padding: 40px 20px;
  background: url('../img/bg_concept.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.top-section_concept::before {
  content: none;
}
.top-wrap_concept {
  padding: 30px 20px 60px;
}
.top-concept-read {
  margin: 30px 0 30px;
  text-align: left;
  line-height: 2;
  font-size: 1.5rem;
}
.top-concept-read br {
	display: none;
}
.top-section_concept h2 {
  font-size: 2.5rem;
}
.top-concept-read {
  margin: 20px 0 30px;
}

/* -------
Staff
------- */
.top-staff_top_prof {
  top: 10px;
}
.top-section_staff h2 {
	font-size: 2.0rem;
}
.top-staff_top_right {
  height: 350px;
}
.top-staff_bottom_left {
  height: 350px;
}
.top-staff_bottom_prof {
  top: 230px;
}

/* -------
Menu
------- */
.top-section_menu h2 {
  font-size: 2.5rem;
}
.top-section_menu {
  padding: 50px 10px;
}
.top-wrap_menu ul {
  display: block;
  margin: 25px 0 40px;
  font-size: 1.3rem;
}
.top-wrap_menu ul li {
	width: 100%;
	margin: 0;
}
.top-wrap_menu ul dl {
  padding: 15px 0;
}
.top-wrap_menu li.top-menu_attention {
	height: 50px;
}

/* -------
Gallery
------- */
.top-section_gallery h2 {
  font-size: 2.5rem;
}
.top-section_gallery {
  padding: 80px 0 0;
}
.top-section_gallery::before {
  top: -110px;
  left: 0px;
}

/* -------
Instagram
------- */
.top-section_insta {
	padding: 110px 5px 75px;
}
.top-section_insta::before {
  left: -100px;
}
.top-section_insta h2 {
  font-size: 2.5rem;
}
.top-wrap_insta {
  width: 100%;
}
.top-wrap_insta ul {
	width: 100%;
}
.top-wrap_insta ul li {
	width: 50%;
}
.top-wrap_insta ul li a {
  display: block;
  width: 96%;
  height: 48vw;
  background: #eee;
  margin: 2%;
  border-radius: 6px;
}

/* -------
Blog
------- */
.top-section_blog {
  padding: 60px 10px 75px;
}
.top-section_blog h2 {
  font-size: 2.5rem;
}
.top-wrap_blog {
  margin: 30px 0;
	font-size: 1.3rem;
}
.top-wrap_blog ul li {
  width: 100%;
  margin: 0 0 10px;
  border: solid 1px #c2c2c2;
}
.top-blog_item_left {
  min-width: 90px;
}
.top-blog_item_left img {
    width: 90px;
    height: 90px;
}
.top-blog_item_right--top h3 {
  font-size: 1.4rem;
}
.top-blog_item_right p {
  font-size: 1.2rem;
}
.top-label_blog {
  padding: 3px 5px;
  font-size: 1.1rem;
}
.top-blog_more_txt {
  font-size: 1.1rem;
}

/* -------
YouTube Line
------- */
.top-wrap_youtube-line {
  display: block;
}
.top-youtube-line_left {
	display: flex;
	justify-content: space-between;
  width: 100%;
}
.top-youtube-line_left > div {
	width: 49.6%;
}
.top-btn_youtube {
  display: block;
  height: auto;
  padding: 50px 0;
  text-align: center;
  background: #f6f6f6;
}
.top-btn_line {
  display: block;
  height: auto;
  padding: 27px 0;
  text-align: center;
  line-height: 1.8;
  background: #f6f6f6;
}
.top-btn_youtube img {
  width: 65%;
}
.top-btn_line img {
  width: 25%;
}

/* -------
Access
------- */
.top-section_access {
  padding: 50px 10px 40px;
}
.top-wrap_access {
  display: block;
	margin: 30px 0 0;
}
.top-section_access h2 {
  font-size: 2.5rem;
}
.top-wrap_access_right {
  width: 100%;
  margin: 0;
}
.top-wrap_access_left {
	font-size: 1.3rem;
}
.top-wrap_access_left dt {
  min-width: 70px;
}
}
